<section class="order about">
  <div class="container">
    <div>
      <div class="order-text-title double-title">
        <span>Лучшая !</span>итальянская пиццерия
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ex iusto laudantium! Architecto aspernatur facere
        hic impedit odio officiis quod reiciendis rem totam voluptas? Hic iure magni modi porro tempore!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ex iusto laudantium! Architecto aspernatur facere
        hic impedit odio officiis quod reiciendis rem totam voluptas? Hic iure magni modi porro tempore!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ex iusto laudantium! Architecto aspernatur facere
        hic impedit odio officiis quod reiciendis rem totam voluptas? Hic iure magni modi porro tempore!
      </div>
    </div>
    <div class="about-image">
      <img src="../../../../assets/images/pizza_big.png" alt="Пицца">
      <img src="../../../../assets/images/pizza_big.png" alt="Пицца">
    </div>
  </div>
</section>

<app-popup data="About Component"></app-popup>
